@import '../../styles.scss';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: $bg;
}
.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 32px 40px 32px;
  width: 380px;
  max-height: 85vh;
  border: 1px solid $white2;
  border-radius: 8px;
  background-color: $white;
  overflow-y: visible;
  overflow-x: hidden;
  scrollbar-gutter: stable both-edges;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: #e4e4e4;
  }
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 48px;
}
.subtitle {
  text-align: center;
  color: $grey2;
}

.h1 {
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 30.12px;
  font-weight: 700;
  color: $black;
}

.h5 {
  margin-top: 24px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.h5_bold {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: $blue;
}

.h6 {
  font-size: 12px;
  line-height: 15.06px;
  font-weight: 700;
}

p {
  color: #bf1650;
}

p::before {
  display: inline;
  content: '⚠ ';
}

.empty {
  display: flex;
  width: 100%;
  height: 14px;
}
