@import '../../styles.scss';

.label {
  font-size: 12px;
  line-height: 15.06px;
  font-weight: 700;
  color: $grey2;
}
.input {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  margin-bottom: 24px;
  width: 316px;
  height: 42px;
  background-color: #fcfdfe;
  border: 1px solid #f0f1f7;
  border-radius: 8px;
  padding: 11px 16px;

  &::placeholder {
    color: $grey3;
    font-family: 'Mulish';
    font-size: 14px;
  }
}
