@import '../../styles.scss';

input[placeholder='Password'] + .toggle {
  display: block;
}

.toggle {
  display: none;
  background-color: unset;
  border: none;
  position: absolute;
  right: 18px;
  top: 35px;
}
