@import '../../../styles.scss';

.wrapper {
  display: flex;
  justify-content: center;
  padding-top: 41px;
  padding-bottom: 63px;
}

.logo {
  margin-top: auto;
  margin-bottom: auto;
}

.h2 {
  font-size: 19px;
  line-height: 23.85px;
  font-weight: 700;
  color: $grey;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 12px;
}
